body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#00322e, #003d82);
}

h4 {
    font-family: sans-serif;
    color: #fff
}

h1 {
    font-family: sans-serif;
    color: #fff
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

progress {
    width: 180px;
    height: 30px;
    background-color: #fff;
    margin: 2px;
    overflow: hidden;
    border: 1px;
    border-color: aliceblue;
}

p:hover {
    font-size: 14px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* 表示总长度背景色 */

progress::-webkit-progress-bar {
    background-color: rgb(198, 198, 198);
}

/* 表示已完成进度背景色 */

progress::-webkit-progress-value {
    background: linear-gradient(to right, rgb(0, 149, 124), rgb(0, 152, 212));
}

p {
    width: 176px;
    font-size: 7px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -16px;
    margin-left: 4px;
}